html {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: lightblue;
	font-family: 'Roboto', sans-serif;
}

/*---header---*/

header {
	font-style: italic;
	height: 70vh;
	color: #fff;
}

.search {
	text-align: left;
	background: rgb(151, 23, 70);}
.search form {
  height: 42px;
}
table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	border-collapse: collapse;
	text-align: center;
	}
	th, td:first-child {
	color: rgb(0, 0, 0);
	padding: 10px 20px;
	}
	th, td {
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
	}
	td {
	background: #D8E6F3;
	}
	th:first-child, td:first-child {
	text-align: left;}